@import url('https://fonts.googleapis.com/css2?family=Genos:ital@1&family=Tomorrow:ital,wght@1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Genos, sans-serif;
    color: rgb(220, 18, 238);
    background-color: black;
    font-size: 28px;
    font-weight: 550;
    font-size: 28px;
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;
}

/* headings */

h1,
h2 {
    font-family: Tomorrow, sans-serif;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #f7f7f7;
}

/* logo */

#logo {
    float: left;
    margin: 20px 0;
}

/* navigation bar */

#navbar {
    font-size: 100%;
    letter-spacing: 6px;
    float: right;
    margin: 20px 0;
}

#navbar,
#logo {
    line-height: 75px;
}

#navbar li {
    float: left;
    list-style-type: none;
    margin-right: 8rem;
}

#navbar a {
    text-decoration: none;
    color: #f7f7f7;
    text-transform: uppercase;
}

#navbar a:hover {
    border-bottom: 5px solid rgb(220, 18, 238);
}

.active {
    border-bottom: 5px solid rgb(220, 18, 238);
}

/* hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#image-text,
#image-text h2,
#image-text h3 {
    color: #f7f7f7;
}

#hero-image {
    height: 800px;
    width: auto;
    background: url(../images/gaming-conventon.jpg) no-repeat center center;
    opacity: 60%;


    /* animation zoom effect on loading page */

    animation-name: hero-zoom;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

/* level of zoom for hero image */

@keyframes hero-zoom {
    from {
        transform: scale(1.1);
    }

    to {
        transform: scale(1);
    }
}

/* image text */

#image-text {
    font-size: 120%;
    font-family: Tomorrow, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    text-decoration: none;

    top: 25%;
    right: 35%;
    left: 35%;
    position: absolute;
}

.image-text-two {
    background-color: rgb(220, 18, 238, 0.6);
    margin: auto;
}

.text-link {
    text-decoration: none;
}

/* meet the team */

#meet-the-team {
    text-align: center;
    margin: 80px 0;
    font-size: 250%;
}

#team {
    height: 850px;
}

#left-team {
    width: 33%;
    float: left;
}

#right-team {
    width: 33%;
    float: right;
}

#center-team {
    width: 33%;
    margin: 0 auto;
    padding: 120px;
}

#circle-border {
    width: 400px;
    height: 400px;
    padding: 30px;
    border-style: solid;
    border-color: #f7f7f7;
    border-width: 5px;
    margin: 0 auto;
    border-radius: 50%;
}

#circle-bg {
    background: url(../images/team.png) no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

hr {
    width: 100%;
    margin: 12px 0;
}

.left-team-heading {
    width: 50%;
    float: right;
    line-height: 30px;
    clear: both;
    margin-bottom: 50px;
}

.right-team-heading {
    width: 50%;
    float: left;
    line-height: 30px;
    clear: both;
    margin-bottom: 50px;
}

.left-team-heading h2 {
    text-align: center;
}

.right-team-heading h2 {
    text-align: center;
}

.right-team-heading p {
    text-align: right;
}

/* what we do */

#what-we-do {
    height: 650px;
}

.doing-heading {
    text-align: center;
    margin: 40px 0;
    font-size: 250%;
}

#wwd-content {
    background-image: url(../images/gathering-pokemon.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#wwd-content div {
    color: #f7f7f7;
    background-color: rgb(0, 0, 0, .8);
    width: 33.33%;
    height: 500px;
    float: right;
    padding: 60px 40px;
    text-align: center;
    border: 2px solid rgb(220, 18, 238);
    box-sizing: border-box;
}

#wwd-content h3 {
    text-transform: uppercase;
}

.wwd-help {
    word-spacing: 4px;
}

.wwd-teach {
    word-spacing: 4px;
}

.wwd-build {
    word-spacing: 4px;
}

/* events meetup */

#pokemon-go {
    background-image: url(../images/pokemon-go-meetup.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#warhammer {
    background-image: url(../images/warhammer-meetup.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#dungeons-dragons {
    background-image: url(../images/d&d-meetup.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#board-games {
    background-image: url(../images/board-games-meetup.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#gaming-lounge {
    background-image: url(../images/pc-lounges.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#pokemon-go div {
    background-color: rgba(0, 0, 0, .6);
    width: 20%;
    height: 200px;
    float: left;
    text-align: center;
    border: 2px solid #f7f7f7;
    padding: 40px 0 0 10px;
    color: #f7f7f7;
    box-sizing: border-box;
}

#warhammer div {
    background-color: rgba(0, 0, 0, .6);
    width: 20%;
    height: 200px;
    float: left;
    text-align: center;
    border: 2px solid #f7f7f7;
    padding: 40px 0 0 10px;
    color: #f7f7f7;
    box-sizing: border-box;
}

#dungeons-dragons div {
    background-color: rgba(0, 0, 0, .6);
    width: 20%;
    height: 200px;
    float: left;
    text-align: center;
    border: 2px solid #f7f7f7;
    padding: 40px 0 0 10px;
    color: #f7f7f7;
    box-sizing: border-box;
}

#board-games div {
    background-color: rgba(0, 0, 0, .6);
    width: 20%;
    height: 200px;
    float: left;
    text-align: center;
    border: 2px solid #f7f7f7;
    padding: 40px 0 0 10px;
    color: #f7f7f7;
    box-sizing: border-box;
}

#gaming-lounge div {
    background-color: rgba(0, 0, 0, .6);
    width: 20%;
    height: 200px;
    float: left;
    text-align: center;
    border: 2px solid #f7f7f7;
    padding: 40px 0 0 10px;
    color: #f7f7f7;
    box-sizing: border-box;
}

.events-headings {
    color: rgb(220, 18, 238);
}

#line-break {
    height: 100px;
}

h2>i {
    color: #f7f7f7;
}

.enlarge:hover {
    transform: scale(1.2);
}

/* contact us hero image text */

#image-text-two {
    font-size: 120%;
    font-family: Tomorrow, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;

    top: 35%;
    right: 35%;
    left: 35%;

    padding-top: 10px;
    padding-right: 10px;
    position: absolute;
}

/* contact us */

#contact {
    clear: both;
    height: 950px;
}

.contact-us-heading {
    margin: 40px;
    text-align: center;
}

.contact-form {
    padding: 30px;
    border: 4px solid #f7f7f7;
    border-radius: 50px;
    background-color: rgb(220, 18, 238, 0.1);
    height: 700px;
    margin: 0 25%;
}

.info {
    margin: 10px;
}

#game {
    width: 100%;
    line-height: 35px;
    height: 40px;
    text-align: center;
    font-size: 90%;
}

.questionaire {
    width: 100%;
    line-height: 35px;
    margin: 15px 0 30px;
    font-size: 90%;
}

.questionaire:hover {
    border-color: black;
}

label {
    text-transform: uppercase;
}

textarea {
    display: block;
    height: 140px;
    margin-left: auto;
    margin-right: auto;
}

.submit-btn {
    font-size: 150%;
    background-color: #f7f7f7;
    color: black;
    width: 25%;
    padding: 0;
}

.submit-btn:hover {
    color: black;
}

input,
textarea {
    font-family: Genos, sans-serif;
    font-size: 1rem;
    padding-left: 15px;
}

/* footer */

footer {
    height: 50px;
}

.social-icons {
    text-align: center;
}

.social-icons>li {
    display: inline;
}

.social-icons i {
    font-size: 100%;
    margin: 5%;
    padding: 2%;
    color: #f7f7f7;
}

/* media queries */

@media screen and (max-width: 1600px) {
    #team {
        width: 65%;
        height: 1700px;
        margin: 0 auto;
    }

    #team p {
        text-align: justify;
    }

    #team h2 {
        margin-top: 15px;
    }

    #meet-the-team {
        padding: 30px 0;
        margin: 0;
    }

    #left-team,
    #right-team {
        width: 100%;
        float: left;
        padding: 0;
        margin-bottom: 80px;
    }

    .left-team-heading {
        margin: 0 25% 0 0;
        text-align: right;
    }

    .right-team-heading {
        margin: 0 0 0 25%;
        text-align: center;
    }

    #center-team {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    #pokemon-go h3 {
        font-size: 30px;
    }

    #warhammer h3 {
        font-size: 30px;
    }

    #dungeons-dragons h3 {
        font-size: 30px;
    }

    #board-games h3 {
        font-size: 30px;
    }

    #gaming-lounge h3 {
        font-size: 30px;
    }
}

@media screen and (max-width: 1500px) {
    #wwd-content>div {
        width: 100%;
        clear: both;
        height: 200px;
        padding: 0;
    }

    #what-we-do {
        height: 800px;
    }
}

@media screen and (max-width: 1400px) {
    #navbar {
        float: left;
        clear: left;
    }

    #hero-outer {
        font-size: 80%;
    }

    .events-headings {
        font-size: 35px;
    }

    #pokemon-go h3 {
        font-size: 25px;
    }

    #warhammer h3 {
        font-size: 25px;
    }

    #dungeons-dragons h3 {
        font-size: 25px;
    }

    #board-games h3 {
        font-size: 25px;
    }

    #gaming-lounge h3 {
        font-size: 25px;
    }
}

@media screen and (max-width: 1200px) {
    #pokemon-go>div {
        width: 100%;
        clear: both;
        height: 120px;
        padding: 0;
        text-align: center;
    }

    #warhammer>div {
        width: 100%;
        clear: both;
        height: 120px;
        padding: 0;
        text-align: center;
    }

    #dungeons-dragons>div {
        width: 100%;
        clear: both;
        height: 120px;
        padding: 0;
        text-align: center;
    }

    #board-games>div {
        width: 100%;
        clear: both;
        height: 120px;
        padding: 0;
        text-align: center;
    }

    #gaming-lounge>div {
        width: 100%;
        clear: both;
        height: 120px;
        padding: 0;
        text-align: center;
    }

    .contact-form {
        margin: 0;
        font-size: 75%;
    }
}

@media screen and (max-width: 1100px) {
    #team {
        font-size: 80%;
    }

    #what-we-do {
        font-size: 80%;
    }
}

@media screen and (max-width: 800px) {
    #image-text {
        left: 30%;
    }

    .image-text-one {
        font-size: 30px;
    }

    .image-text-two {
        font-size: 30px;
    }

    .image-text-three {
        font-size: 30px;
    }

    #team {
        height: 800px;
    }

    #meet-the-team {
        text-align: center;
        font-size: 40px;
    }

    .left-team-heading {
        margin: 0;
        padding: 0;
        text-align: left;
        width: 100%;
    }

    .right-team-heading {
        margin: 0;
        padding: 0;
        text-align: left;
        float: right;
        width: 100%;
    }

    .doing-heading {
        text-align: center;
        font-size: 40px;
    }

    #center-team {
        display: none;
    }

    #wwd-content {
        font-size: 20px;
    }

    .contact-us-heading {
        text-align: center;
    }
}

@media screen and (max-width: 550px) {
    #hero-outer {
        height: 400px;
    }
    
    .image-text-one {
        font-size: 15px;
    }

    .image-text-two {
        font-size: 15px;
    }

    .image-text-three {
        font-size: 15px;
    }
    
    #meet-the-team {
        font-size: 25px;
    }

    .left-team-heading {
        font-size: 15px;
    }

    .right-team-heading {
        font-size: 15px;
    }

    #wwd-content>div {
        font-size: 15px;
        height: 220px;
    }

    .submit-btn {
        margin: 0;
        padding: 0;
        font-size: 15px;
    }
}